{
    "presets": ["es2015", "react", "stage-2", "env", "stage-0"],
    "plugins": [
        "transform-decorators-legacy",
        "transform-decorators",
        "transform-class-properties",
        "transform-async-to-generator",
        "syntax-async-functions",
        ["import", {"libraryName": "antd", "style": true} ]
    ]
}